# Set theme
remote_theme: daviddarnes/alembic@main

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji
- jekyll-remote-theme

# Site settings
# url: 'https://mydomain.com'
baseurl: ''
title: 'Style Transfer Lab'
description: 'Advancing Generative AI Research Through Color Transfer, Style Transfer, and Diffusion Models'
permalink: pretty
# logo: "https://www.gravatar.com/avatar/6c0377abcf4da91cdd35dea4554b2a4c?s=52"

# Pagination
paginate: 5
paginate_path: blog/page:num

# Header nav
navigation_header:
- title: Home
  url: /
- title: Research
  url: /papers/
- title: Themes
  url: /research-themes/
- title: Team
  url: /about/
- title: Blog
  url: /blog/


# Footer nav
navigation_footer:
- title: Back to main
  url: "#top"

# Collections
collections:
  posts:
    title: Posts
    output: true
    description: "My thoughts and ideas"
    feature_text: |
      Welcome to my blog
    feature_image: "https://picsum.photos/2560/600?image=866"
  
  papers:
    title: Papers
    output: true
    permalink: /papers/:name/


# Collection settings
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post # Set the default layout for posts
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page # Set the default layout for pages

  - 
    scope:
      path: ""
      type: "papers"
    values:
      layout: paper # Set the default layout for papers
