---
layout: page
---
<header class="page-header">
  <h1 class="page-title">{{ page.title }}</h1>
</header>

<div class="blog-list">
  {% for post in site.posts %}
    <article class="blog-list-item">
      <h2 class="blog-list-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      <p class="blog-list-meta">{{ post.date | date: "%B %d, %Y" }}</p>
      {% if post.excerpt %}
        <p class="blog-list-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
      {% endif %}
    </article>
  {% endfor %}
</div>

